.todoContainer{
    width:500px;
    margin:200px auto;
    text-align:left;
    padding:15px;
    border:1px dashed #333;
    background-color:#eee;
}
.todoItems{
    list-style: none;
}
.todoItems .done-true{
    display: inline-block;
    text-decoration: line-through;
    margin-top: 5px;
}

.todoItems .done-false{
    display: inline-block;
    text-decoration: no-line-through;
    margin-top: 5px;
}
.todoListItem{
    display: block;
}

.todoListItem .checkBox{
    display: inline-block;
}

.todoFooter{
    margin-top: 100px;
}
.todoFooter .completedItems{
    float: right;
}

